body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: #ffee66; */
    background: url(https://images.unsplash.com/photo-1501696461415-6bd6660c6742?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-size: cover;
    overflow: hidden;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: #ffff;
}
.clock {
    display: flex;
    
}
.clock div {
    margin: 5px;
    position: relative;
}
.clock span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    width: 100px;
    height: 80px;
    background-color: rgb(101, 149, 211);
    opacity: .8;
    color: #ffff;
}
.clock .text {
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(7, 145, 244);
    opacity: 0.8;
}
.clock #am {
    bottom: 0;
    position:absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(91, 142, 223);
}