body {
    background-color: rgb(185, 255, 232);
    display:flex;
    margin: 30%;
}

.circle {
    
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50px;
    margin: 20px;
}

